numpy
matplotlib
tqdm
torch
# Try JAX 0.4.29 with cuDNN 9.1 support (better for new drivers)
https://storage.googleapis.com/jax-releases/cuda12/jaxlib-0.4.29+cuda12.cudnn91-cp310-cp310-manylinux2014_x86_64.whl
jax==0.4.29
flax
optax
transformers
datasets
mlxu>=0.1.13
einops
ml_collections
scipy
wandb
huggingface_hub
